<link rel="stylesheet" href="styles/mypage.css">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="#/">To Do List</div>
    </div>
    <div id="myNavbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="logout()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
      <form class="navbar-form" role="search">
      <div class="form-group" style="display:inline;">
      <div class="input-group" style="width: 500px;">
      <input type="text" class="form-control" ng-model="search" placeholder="Search">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
     </div>
      </div>
    </form>
    </div>
  </div>
</nav>
<div ng-click="expand($event)" class="login-page1">
  <div class="form1">
    <form name="regform" novalidate>
      <input ng-show="onclick" type="text" name="todolistTitle" ng-model="user.taskTitle" placeholder="Title" />
      <textarea type="text" name="todolist" ng-model="user.task" placeholder="Take a Note"></textarea>
      <button ng-click="updatelist(user)">Done</button>
    </form>
  </div>
</div>
<div class="card" ng-repeat="tasks in list | filter:search track by $index" ng-drop="!search" ng-drop-success="onDropComplete($index,$data,$event)">
  <div ng-drag="!search" ng-drag-data="tasks" ng-mouseenter="onclicks=true" ng-mouseleave="onclicks=false" class="container">
    <h4><b>{{tasks.taskTitle}}</b></h4>
    <pre class="breakline">{{tasks.task}}</pre>
    <button ng-show="onclicks" ng-click="edit($event, tasks)"> <span class="glyphicon glyphicon-pencil"></span></button>
    <button ng-show="onclicks" ng-click="delete($index)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
